.header {
    background-color: #0a0a0a;
    padding: 10px 0 10px;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align-last: right;
}
/*.logo {*/
/*    margin: 0 auto;*/
/*}*/
.url {
    flex: 1;
}

.menu{
    display: flex;
}

.nav-items {
    padding-right: 30px;
}

.logo-img {
    align-items: center;
}


